<div id="<%= dom_id citytown %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= citytown.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= citytown.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= citytown.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this citytown", citytown, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this citytown', edit_citytown_path(citytown), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
