<%= form_with(model: course, class: "contents") do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.text_field :title, placeholder:"Titre ...", class: "block border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= f.rich_text_area :content, placeholder:"Contenu du corps ...", class: "block border border-blue-500 bg-white  px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex mt-2">
    <div class="flex w-1/3 ">
        <div class="flex select">
<%= f.select :level_name, @levels.map{|level| [level.title]}, label:"Niveau ...", class:" border-red-400 rounded py-2 px-3 ln-select border border-black",

        placeholder:"Série" %>
        </div>

    </div>
    <div class="flex w-1/3 ">
        <div class="flex select ">
<%= f.select :material_name, @materials.map{|material| [material.title]}, label:"Matieres ...", class:" border-red-400 rounded py-2 px-3 ln-select border border-black",

        placeholder:"Série" %>
        </div>
    </div>

    <div class="flex w-1/3  ml-2">
      <div class="flex ">
        <div class="flex select ">
<%= f.select :status, Course::STATUS, label:"Matieres ...", class:" border-red-400 rounded py-2 px-3 ln-select border border-black", placeholder:"Série" %>

        </div>
      </div>
    </div>
  </div>


<br>
  <div class="inline">
    <%= f.submit "Créer le Cours", class: " py-3 px-5 bg-blue-600 text-white inline-block font-semibold font-medium cursor-pointer" %>
  </div>
<% end %>
