<%= turbo_frame_tag "feed_course" do %>
  <div id="<%= dom_id @course %>" class="mx-auto w-full flex">
    <div class="mx-auto">
      <!-- Show course card-->
      <div class="border m-2">
        <!-- Course detail-->
        <div class="border bg-white m-2 p-2">
          <!-- Course title-->
          <div class="text-xl p-2">
            <h1 class="font-bold"><%= @course.title %></h1>
          </div>
          <div class="">
            <%= @course.content %>
          </div>

          <!-- Options-->
          <div class="flex justify-end my-4 mx-4">
            <div class="dropdown dropdown-hover">
              <label tabindex="0" class=" m-1 bg-gray-100 p-1 rounded-full">
                <span class="badge badge-xs"></span>
                <span class="badge badge-xs mx-0.5 "></span>
                <span class="badge badge-xs"></span>
              </label>
              <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><%= link_to 'Nouvel Exercice', new_course_exercise_path(@course), data: {turbo_frame: "add_new_exercise_form"}%></li>
                <li><%= link_to 'Modifier', edit_course_path(@course) %></li>
                <li><%= button_to 'Supprimer', course_path(@course), method: :delete %></li>
              </ul>
            </div>

          </div>
        </div>

        <!-- Exercises Feed-->
        <div class="border bg-white m-2">
          <%= render "courses/shared/exercises", course:@course %>
        </div>
      </div>

    </div>
  </div>
<% end %>


